@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600&display=swao');


*{
    padding: 0;
    margin: 0;
    
    list-style-type:none;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.sidebar{
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgb(6, 4, 126);
}

.sidebar-brand{
    height: 90px;
    padding: 1rem 0re 1rem 2rem;
    color: #fff;
}

.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: .5rem;
    padding:10px;
    text-decoration: none;
}
.sidebar-menu a{
    display: block;
    color: #fff;
    font-size: 1rem;
}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    border-radius:  100px 1px 5px 100px ;
}
.sidebar-menu a span:first-child {
    font-size: 1.5rem; 
    padding-right: 1rem;
}

.main-content{
    margin-left: 250px;
}
.header{
    display:flex ;
    justify-content: space-between;
    padding: 1rem;
    box-shadow:4px 2px 10px rgb(0,0,0.2);
}

.search-wrapper{
    width: 5  00px;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: .5rem;
}

.user-wrapper small{
    display: inline-block;
    color: grey;
    margin-top: -3px;
}